body{
    background-color: lightblue;
}

section{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
}

article h2{
    margin-top: 0;
    margin-bottom: 0;
}

header{
    text-align: center;
}

