body{
    background-color: lightblue;
}

header{
    text-align: center;

}

section{
    background-color: white;
    width: 800px;
    padding: 10px;
    margin: auto;
}

article h1{
    margin: 0px;
}