header{
    background-color: darkblue;
    color: white;
    text-align: center;
}

body{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px darkblue solid;
}

section{
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
}

h1{
    margin-top: 0px;
}

h2{
    margin-top: 0px;
}